h1, h2 {
    display: inline-block;
    background-color: cyan;
    width: 600px;
}
label, input {
    display: block;
}
p {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightgreen;
    margin: 10px;
    vertical-align: top;
}  