.nav {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: row;
}

.nav-title {
    display: flex;
    justify-content: flex-start;
}

.nav-links {
    flex-direction: row;
    display: flex;
    justify-content: space-fle;
}
